body {
    animation: fadeIn 1s ease-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.calculator {
    background: url("../aboutPhotos//bg3.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    position: relative;
    bottom: 60px;
    color: white;
    margin-top: 70px;
    text-align: center;


}

.calculator h1 {
    text-align: center;
    font-size: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   position: relative;
   top:75px

}

@media screen and (max-width:650px){
    .calculator h1{
        font-size: 40px;
    }
}

.Numerology{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:40px
}

.Numerology img{
    width:100%;
    max-width:549px
}

.Numerology button {
  
    background-color: rgb(175, 82, 222);
    padding: 8px;
    border-radius: 5px;
    color: white;
    border: none;
    transition: 0.5s;
  }
  .Numerology button:hover {
    background-color: rgb(100, 34, 133);
    transform: matrix(1);
  }

  @media screen and (max-width:768px){
    .Numerology{
        padding-inline-start: 40px;
        padding-inline-end: 40px;
    }
  }


  

