body {
    animation: fadeIn 1s ease-out;
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.privacy{
    background: url("https://s3-alpha-sig.figma.com/img/a422/e1d8/ea0164acf34e8514eb3f6d0aa905dedd?Expires=1737936000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=k7Xjt5WoaudXpUVPdwAKFdUz-1Yu~cMKP4vv9vNMxmR96JXMkxgdOq885NSvoiMPISXbQHT4CW0drEGvR-qBt7i5G7YMX7IYVvk0VhT5K1UPIoJs63q17kdBpGhgVEdYiwRBzrsIaUSROOEpxQMMiUjPTfrAML~4-vpr~uN8nCVwKPdTk-5AKSWV-6TedkgMxPRb0ydKFpd9sIPESZomdlqVNCQUIFILJjZ4axWw8bi1gvfs5VFuXSWAFuH-ZDKdNHU7B7kKeYrfs14iqT8pNO0E2c-bKMmHTDRLksaxPgESO0c3Z9lzDdV3u2Sx7jbMlPHqaqiyscZz7lxeZSWSNg__");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    position: relative;
    color: white;
    text-align: center;
}

.privacy h1{
    font-size:50px;
  position: relative;
    top:80px
}

.policy{
    padding:0 100px
}

@media screen and (max-width:768px){
    .policy{
        padding:20px
    }
    .privacy h1{
        font-size:30px
    }
}


@media screen and (max-width:1280px){
    .footer{
        margin-top:400px
    }
}

@media screen and (max-width:410px){
    .footer{
        margin-top:650px;
        
    }
  
}



#cart-countdown {
    margin-left: 10px;
    color: red;
    font-size: 14px;
    font-weight: bold;
}